body {
  background-color: green
  color: #333;
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(128, 49, 49)
}

p {
    color: rgb(17, 16, 16);
}
button {
  background-color: #00cc1b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005b99;
}
.brand-name {
  font-family: 'DM Serif Display', serif;
  font-size: 1.6em;
  color: #e35d2c;
  font-weight: bold;
}
