body {
  background-color: green;
  color: #333;
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

h1 { 
  font-size-adjust: .50;
  color: rgb(248, 243, 243) 
}

p {
  font-size: 20px;
  max-width: 800px;
  max-height: fit-content;
  margin: 20px auto;
    color: rgb(17, 16, 16);
}
button {
  background-color: #00cc1b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005b99;
}
.brand-name {
  font-family: 'DM Serif Display', serif;
  font-size: 2em;
  color: #f7f4f2;
  font-weight: bold;
}
.hero {
  position: relative;
  background-image: url('lll.jpeg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 120px 20px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 215, 215, 0.4); /* dark transparent layer */
  z-index: 0;
}

.hero h1,
.hero .brand-name {
  position: relative;
  z-index: 1;
}
#quote {
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  color: #555;
}
